.main-predicciones{
  background-color: #EEF2F5;
  margin-left: 350px;
  height: 100vh;
  padding-top: 60px;
}

.predicciones-selectors{
  display: flex;
  flex-direction: row;
}

.predicciones-selectors-div{
  position: relative;
  left: 40%;
  display: flex;
  flex-direction: row;
}

.predicciones-graphs-1,
.predicciones-graphs-2{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.predicciones-graph-1,
.predicciones-graph-3{
  width: 35%;
  background-color: white;
  height: 100%;
  border-radius: 30px;
  display: flex;
  text-align: center;
  flex-direction: column;
}

.predicciones-graph-3,
.predicciones-graph-4{
  margin-top: 30px;
}



.predicciones-graph-2{
  width: 35%;
  background-color: white;
  height: 100%;
  border-radius: 30px;
  display: flex;
  text-align: center;
  flex-direction: column;
}

.predicciones-graph-4{
  width: 35%;
  background-color: white;
  height: 100%;
  border-radius: 30px;
  display: flex;
  text-align: center;
  flex-direction: column;
}

