*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div#root {
  width: 100dvw;
}

body{
  background: rgb(242,42,102);
  background: radial-gradient(circle, rgba(242,42,102,0.26516544117647056) 0%, rgba(255,206,183,1) 62%, rgba(239,249,242,1) 100%);
}

.imagen-circular-mini{
  position: absolute;
  width: 55px;
  height: 55px;
  right: 10px;
  top: 110px;
  background: white;
  border-radius: 50%;
}

.imagen-logo{
  height: 120px;
  top: 75px;
  left: 15px;
  position: absolute;
}


.h2-landing{
  position: absolute;
  width: 100%;
  height: 33px;
  left: 16px;
  top: 200px;
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 100;
  font-size: 24px;
  line-height: 33px;
  color: #100F11;
}

.h4-landing-entrada{
position: absolute;
width: 25%;
height: 40px;
left: 16px;
top: 250px;
font-family: 'Avenir';
font-style: normal;
font-weight: 500;
font-size: 25px;
line-height: 27px;
color: #000000;
border: 2px solid #000000;
border-radius: 20px;
padding-left: 5px;
padding-right: 5px;
padding-top: 7px;
padding-bottom: 7px;
background-color: #ff3b7684;
text-align: center;
}

.h4-landing-salida{
position: absolute;
width: 25%;
height: 40px;
left: 34%;
top: 250px;
font-family: 'Avenir';
font-style: normal;
font-weight: 500;
font-size: 25px;
line-height: 27px;
color: #000000;
border: 2px solid #000000;
border-radius: 20px;
padding-left: 5px;
padding-right: 5px;
padding-top: 7px;
padding-bottom: 7px;
text-align: center;
}

.main-fourth-div {
  text-align: center;
  justify-content: center;
}

.p-landing {
width: 100%;
height: 33px;
font-family: 'Avenir';
font-style: normal;
font-weight: 900;
font-size: 24px;
text-align: center;
}

.main-faces-div{
  height: 50px;
  background-color: white;
  width:100%;
  top: 450px;
  margin-block-start: none !important;
  display: flex;
  position: absolute;
}


