.main-container-contacta {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

  .contacta-first-div-text{
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .contacta-first-div{
    display: flex;
    flex-direction: row;
  }

  .contacta-company-logo{
    width: 120px;
    margin-top: 100px;
    left: 95%;
    position: relative;
    top: -45%;
  }

  .contacta-second-div{
    display: flex;
    flex-direction: column;
  }

  .contacta-p-contacta{
    text-align: center;
    font-family: 'Avenir';
    margin-left: 4px;
    margin-right: 4px;
    margin-top: -110px;
  }

  .contacta-p-contacta-2{
    text-align: center;
    font-family: 'Avenir';
    margin-left: 4px;
    margin-right: 4px;
    font-size: 16px;
  }

  .contacta-p-contacta{
    font-weight: 900;
    font-size: 30px;
    margin-bottom: 18px;
  }

  .contacta-third-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

  }

  .form-contacta{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .contacta-textarea{
    margin-top: 5px;
    width: 350px;
    height: 250px;
    font-family: 'Avenir';
    padding: 20px;
    border-radius: 10px;
    resize: none;
    text-align: center;
    margin-left: 15px;
    justify-content: center;
    align-items: center;
  }

  .contacta-p-contacta-3{
    font-family: 'Avenir';
    margin: 10px;
    margin: 15px;
    font-size: 12px;
    margin-bottom: 20px;
  }

  .button-contacta{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: auto;
    padding-top: 18px;
    width: 90%;
    height: 65px;
    border-radius: 30px;
    background-color: #FF145A;
    border: none;
    font-family: 'Avenir';
    color: white;
    font-size: 24px;
    position: relative;
  }

  .success-message {
    font-family: 'Avenir';
    font-size: 20px;
    font-weight: 900;
    margin-top: 5px;
    margin-bottom: 10px;
    position: absolute; 
    top: calc(94% + 10px); 
    left: 50%;
    transform: translateX(-50%); 
    height: 10px;
    display: flex;
    align-items: center;
  }

  .popup-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .popup {
    background: white;
    padding: 20px;
    border-radius: 30px;
    text-align: center;
    width: 80%;
    height: 350px;
  }

  .p-popup{
    font-size: 24px;
  }

  .popup-company-logo{
    width: 200px;
  }

  .popup-button{
    border-radius: 30px;
    background-color: #FF145A;
    border: none;
    font-family: 'Avenir';
    color: white;
    width: 80%;
    margin-top: 20px;
    margin-bottom: 30px;
    height: 40px;
  }

  .contacta-message-icon{
    font-size: 40px;
    display: flex;
    flex-direction: row;
  }

  .icon-contacta-back{
    font-size: 30px;
    margin-right: 20px;
  }

  .contacta-p-name{
    position: absolute;
    width: 139px;
    height: 74px;
    left: 17px;
    top: 15px;
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 41px;
    color: #100F11;
    }
    
    .contacta-p-lastname{
    position: absolute;
    width: 139px;
    height: 74px;
    left: 17px;
    top: 50px;
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 41px;
    color: #100F11;
    margin-left: 50px;
    }