/* Reset de Estilos para el Body (opcional) */
body, h1, h2, h3, p, margin, padding {
  margin: 0;
  padding: 0;
}

/* Estilos Generales */
body {
  font-family: 'Avenir', sans-serif;
}

/* Contenedor Principal */
.login-main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

/* Imagen Circular */
.circulo-login {
  text-align: center;
  margin-top: 1vh;
}

.imagen-circular {
  width: 100vw; /* Ajusta según sea necesario */
  height: auto;
  border-radius: 50%;
  margin-top: -50px;
}

/* Segundo Div */
.login-second-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90vw; /* Ajusta según sea necesario */
  max-width: 400px; /* Ajusta según sea necesario */
  margin: -10vh 0;
}

/* Texto "Login" */
.p-login {
  font-family: 'Avenir';
  font-weight: 900;
  font-size: 10vw; /* Ajusta según sea necesario */
  margin-bottom: 2vh;
}

/* Formulario de Login */
.form-login {
  display: flex;
  flex-direction: column;
  width: 90vw; /* Ajusta según sea necesario */
}

.form-email,
.form-password {
  width: 100%;
  margin-bottom: 2vh;
  padding: 3vw;
  border-radius: 5px;
  font-size: 3vw; /* Ajusta según sea necesario */
}

/* Texto "¿Olvidaste la contraseña?" */
.p-login-forgot-passsword {
  font-family: 'Bai Jamjuree';
  font-weight: 400;
  font-size: 3vw;
  margin-top: 2vh;
  cursor: pointer;
}

/* Botón de Login */
.button-login-user {
  width: 90vw;
  padding: 3vw;
  border-radius: 5px;
  font-size: 4vw;
  color: white;
  background-color: black;
  font-family: 'Bai Jamjuree';
  font-weight: 900;
  cursor: pointer;
  margin-top: 3vh;
}
