
.login-main-container{
  display: flex;
  flex-direction: column;
}

.imagen-circular{
  width: 500px;
  height: 450px;
  display: flex;
  text-align: center;
  overflow-clip-margin: none !important;
  justify-content: center;
  align-items: center;
  margin-left: -35px;
}


.circulo-login{
  display: flex;
  justify-content: center;
  top: 0;
  left: 0;
  position: relative;
}

div#root {
  width: 100dvw;
}


.login-second-div{
  display: flex;
  flex-direction: column;
}

.p-login{
position: absolute;
left: 9.23%;
right: 74.62%;
top: 40.17%;
bottom: 52.01%;
font-family: 'Avenir';
font-style: normal;
font-weight: 900;
font-size: 30px;
line-height: 33px;
color: #000000;
}

.form-email{
  position: absolute;
  right: 10%;
  top: 45%;
  width: 80%;
  justify-content: center;
  padding: 15px;
  border-radius: 10px;
  font-size: 20px;
  font-family: 'Avenir';
}

.form-password{
  position: absolute;
  right: 10%;
  top: 56%;
  width: 80%;
  justify-content: center;
  padding: 15px;
  border-radius: 10px;
  font-size: 20px;
  font-family: 'Avenir';
}

.p-login-forgot-passsword{
position: absolute;
left: 34%;
top: 63%;
bottom: 37.09%;
font-family: 'Bai Jamjuree';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 20px;
color: #000000;
cursor: pointer;
}

.button-login{
  position: absolute;
  right: 10%;
  top: 68%;
  width: 80%;
  justify-content: center;
  padding: 15px;
  border-radius: 10px;
  font-size: 20px;
  color: white;
  background-color: black;
  font-family: 'Bai Jamjuree';
  font-weight: 900;
}

@media screen and (min-width: 768px){
  .imagen-circular{
    width: 500px;
    height: 450px;
    display: flex;
    text-align: center;
    overflow-clip-margin: none !important;
    justify-content: center;
    align-items: center;
    margin-left: 130px;
  }
  
}

@media screen and (min-width: 1800px){
  .imagen-circular{
    margin-left: 650px;
  }

  .form-email,
  .form-password{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}


