@font-face {
  font-family: 'Avenir';
  src: url('/src/fonts/Avenir-Regular.woff') format('woff');
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-family: 'Avenir';
}



