.feed-container {
    padding: 0 1.5rem;
    margin-top:2rem;
}

.feed-card {
    background-color: white;
    margin: 0.5rem 0;
    padding: 0.5rem;
    border-radius: 10px;
}

.feed-card-header {
    display:flex;
    align-items: center;
}

.feed-card-header-text {
    padding-left: 0.5rem;
}

p.emoji {
    font-size: 1.5rem;
    border: 1px solid;
    border-radius: 50%;
    padding: 0.3rem 0.2rem 0.2rem 0.2rem;
}

.feed-card-date {
    font-size: 0.8rem;
}

.feed-card-body {
    margin-top: 0.5rem;
    padding-left: calc(1.5rem + 0.2rem + 1.2rem);
}

.emojis-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
}

.main-emojis-div{
    height: 50px;
    background-color: white;
    width: 10rem;
    margin-block-start: none !important;
    display: flex;
    flex-direction: row;
    justify-content: center;
    box-shadow: 0px 8px 0px 0px #FF145A;
}

.emoji-select.active,
.emoji-select:hover {
  scale: 1.2;
  box-shadow: 0px 20px 0px -6px #FF145A;
}

  .emoji-select {
    position: relative;
    top: -10px;
    height: 70px;
    border: 5px solid white;
    border-radius: 50%;
    background-color: white;
    box-shadow: 0px 18px 0px -10px #FF145A;
    cursor: pointer;
    margin: 0 10px;
}

.form-container {
    width: 100%;
    display:flex;
    flex-direction: column;
    padding: 0 1.5rem;
}

.form-container input, .form-container textarea {
    border-radius: 10px;
    border: 0;
    width: 100%;
}

.form-container input {
    padding: 15px 20px;

}

.form-container input::placeholder, .form-container textarea::placeholder {
    color: #969696;

}

.form-container textarea {
    margin-top: 2rem;
    padding: 20px;
    height: 40dvh;
    resize: none;
}

.anon-advice {
    margin: 1rem 0;
    width: 100%;
}

.plus-sign-container {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.plus-sign {
    font-size: 2.5rem;
    padding: 0 0.5rem;
    border-radius: 35%;
    margin-bottom: 0.5rem;
    font-weight: 900;
}


.logo {
    width: 120px;

}

.header-div {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 2rem;
}

.welcome-message {
    display: flex;
    font-size: 22px;
    font-weight: 900;
    margin-top: 4px;
}

.welcome-message-icon{
    display: flex;
    font-size: 30px;
    font-weight: 900;
    cursor: pointer;
}

.top{
    display: flex;
    flex-direction: row;
}

.user-name-feed{
    font-size: 30px;
}

.logo-container-feed{
    margin-top: 15px;
}

.publicacion-feed{
    font-size: 20px;
}

.emoji-feed-chat{
    width: 30px;
}

.contacta-first-div-text{
    display: flex;
    flex-direction: column;
    width: 100%;
}

